/**
 * @name OLED
 * @author Drifter
 * @description The darkness has consumed you.
 * @version 1.0.0
 * @authorId 163381246980784128
 * @invite JCKMcqcnUr
 * @donate https://www.paypal.me/drifterwhy
 * @website https://github.com/DrifterWhy
*/

@import url('https://B4T3S.github.io/Fallout4TerminalTheme/mainRewrite.css');
/* ^ WARNING! This is the main import! The theme will not render if you remove this! */

@import url('https://fonts.googleapis.com/css2?family=Consolas:wght@100;300;400;500;700&display=swap');
/* ^ This is the custom font. Replace as desired! */

:root {
  --accentcolor: 25,25,25;
  --accentcolor2: 255,115,250;
  --linkcolor: 230,230,230;
  --mentioncolor: 255,255,255;
  --textbrightest: 255,255,255;
  --textbrighter: 200,200,200;
  --textbright: 125,125,125;
  --textdark: 100,100,100;
  --textdarker: 30,30,30;
  --textdarkest: 15,15,15;
  --font: Consolas;
  --backgroundaccent: 10,10,10;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 5,5,5;
  --backgroundsecondaryalt: 10,10,10;
  --backgroundtertiary: 10,10,10;
  --backgroundfloating: 0,0,0;

  --show-original-title: 0; /* Whether you want to show discords original title (0 means no, 1 means yes) */
  --show-custom-title: 1; /* Whether you want to show a custom title (0 means no, 1 means yes) */
  --custom-title-text: "ARHCAEUS Technology™"; /* The custom text you want to display */
  --custom-title-font-size: 16px; /* The size in pixels of the custom title text */
  --custom-title-font-weight: bold; /* The font "weight" of the custom title text. For reference: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
  --custom-title-margin-top: 0px; /* The distance from the top of the window to the custom title text */
  --custom-title-margin-left: 0px; /* The distance from the left side of the window to the custom title text */
}
